<h2>Upload Athlete Data</h2>
<form (submit)="submitS3()">
  <div class="upload-container">
    <div *ngFor="let fileType of fileTypes">
      <label>{{ fileType }}:</label>
      <input type="file" (change)="onFileChange($event, fileType)" />
    </div>
  </div>
  <button type="submit">Upload to S3</button>
</form>

<h2>Manual Data Entry</h2>
<form (submit)="submitDynamo()">
  <div class="upload-container">
    <div *ngFor="let fieldName of fieldNames; let i = index">
      <label>{{ fieldName }}:</label>
      <input
        type="text"
        [(ngModel)]="manualData[i].value"
        [name]="'field' + i"
        [required]="fieldName === 'Player ID'"
      />
    </div>
  </div>
  <button type="submit">Upload to DynamoDB</button>
</form>

<h2>Retrieve Player Data</h2>
<form (submit)="getDataFromDynamoDB()">
  <div>
    <div>
      <label>Player ID:</label>
      <input type="text" [(ngModel)]="playerId" name="playerId" required />
    </div>
    <div>
      <label>Year (yyyy):</label>
      <input type="text" [(ngModel)]="year" name="year" required />
    </div>
    <div>
      <label>Month (mm):</label>
      <input type="text" [(ngModel)]="month" name="month" required />
    </div>
    <div>
      <label>Day (dd):</label>
      <input type="text" [(ngModel)]="day" name="day" required />
    </div>
  </div>
  <button type="submit">Retrieve Data</button>
</form>

<h3>Retrieved Data:</h3>
<div *ngIf="retrievedData; else noData">
  <table>
    <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Player ID</td>
      <td>{{ retrievedData.player_id }}</td>
    </tr>
    <tr>
      <td>Date</td>
      <td>{{ retrievedData.date }}</td>
    </tr>
    <tr>
      <td>Effective Time Frame</td>
      <td>{{ retrievedData.effective_time_frame }}</td>
    </tr>
    <tr>
      <td>Fatigue</td>
      <td>{{ retrievedData.fatigue }}</td>
    </tr>
    <tr>
      <td>Readiness</td>
      <td>{{ retrievedData.readiness }}</td>
    </tr>
    <tr>
      <td>Soreness</td>
      <td>{{ retrievedData.soreness }}</td>
    </tr>
    <tr>
      <td>Sleep Quality</td>
      <td>{{ retrievedData.sleep_quality }}</td>
    </tr>
    <tr>
      <td>Stress</td>
      <td>{{ retrievedData.stress }}</td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noData>
  <p>No data retrieved.</p>
</ng-template>




<button (click)="invokeSageMaker()">Run Analytics</button>

<h3>Player Insights:</h3>
<div *ngIf="sageMakerResponse; else noResponse">
  <pre>{{ sageMakerResponse }}</pre>
</div>
<ng-template #noResponse>
  <p>Waiting for response.</p>
</ng-template>
